body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mensaje {
    text-align: center;
    margin-bottom: 20px;
}

.boton {
    text-align: center;
}

.boton-enlace {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4081;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton-enlace:hover {
    background-color: #d81b60;
}
